:root {
	--ttgreen: #46a07e;
	--ttorange: orange;
	--ttred: #d6260f;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	border: 30px solid white;
	color: white;
}
body, input, select {
	font-family: 'Ubuntu';
	font-size: 18px;
}
