.match {
	display: grid;
	gap: 4px;
	grid-template-columns: 1fr 1fr;
	height: calc(100vh - 2 * 30px);

	.side {
		position: relative;
		padding: 40px 50px 0;
		background-color: var(--ttgreen);

		.player {
			font-size: 60px;
			text-align: right;

			/*&:before {
				content: '';
				display: inline-block;
				margin-left: 10px;
				width: 45px;
				height: 45px;
				background-color: --var(ttorange);
				border-radius: 50%;
			}*/
		}

		.points, .games {
			font-family: 'Ubuntu Mono';
		}

		.points {
			font-size: 240px;
			line-height: 180px;
			padding-left: 50px;
		}

		.games {
			font-size: 100px;
		}

		.score-plus {
			position: absolute;
			right: 50px;
			margin-top: 15px;
		}

		&.side1:not(.switched), &.switched + .side  {
			text-align: right;

			.points {
				padding-left: 0px;
				padding-right: 50px;
			}

			.player {
				text-align: left;
			}

			.score-plus {
				left: 50px;
				right: unset;
			}
		}

		&.switched {
			order: 1;
		}
	}

	.round-button {
		border-radius: 50%;
		display: inline-block;
		z-index: 1;
		width: 60px;
		height: 60px;
		line-height: 56px;
		vertical-align: top;
		font-size: 60px;
		font-weight: bold;
		text-align: center;
		background-color: white;
		color: var(--ttgreen);
		box-shadow: 2px 2px 8px #333;
		cursor: pointer;

		&#score-undo {
			position: absolute;
			bottom: 50px;
			left: 50px;
		}

		&#switch-sides {
			position: absolute;
			bottom: 50px;
			left: 50%;
			margin-left: -30px;
			font-size: 36px;
			line-height: 64px;
		}

		&#toggle-options {
			position: absolute;
			bottom: 50px;
			right: 50px;
		}
	}

	.match-action {
		display: none;
	}
}

.options {
	position: absolute;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	padding: 5%;
	background-color: #fffe;
	border: 10px solid --var(ttorange);
	text-align: center;
	color: black;
	display: none;

	&.open {
		display: block;
	}

	.button {
		display: inline-block;
		margin: 10px auto;
		padding: 10px;
		width: 200px;
		border: 2px solid black;
		background-color: white;
		cursor: pointer;
	}

	form {
		> label {
			display: block;
			margin: 0 auto;
			padding: 10px;
			width: 300px;

			label {
				display: inline-block;
			}
		}

		input, select {
			margin-left: 15px;
			padding: 10px;
		}

		.error {
			margin: 10px 0;
			color: var(--ttred);
		}
	}

	#end-match {
		margin-top: 100px;
	}
}
